.sign-up__headder
  .sign-up__headder__content
    = image_tag 'logo/logo.png', class: "logo"
    .nav-bar
     
    
.sign-up
  .sign-up__content
    %h2.sign-up__content__title
      会員情報入力
  - form_with do
    .sign-up__content__