.sign-up__headder
  .sign-up__headder__content
    = image_tag 'logo/logo.png', class: "logo"
    .nav-bar
      .nav-bar__content
        %h5
          会員情報
        .nav-bar__content__round
      .nav-bar__content
        %h5.red
          住所登録
        .nav-bar__content__round.back-red
      .nav-bar__content
        %h5
          電話番号認証
        .nav-bar__content__round
      .nav-bar__content
        %h5
          完了
        .nav-bar__content__round