.header
  .header__middle-box
    .header__middle-box__img
    .header__middle-box__search-box
      %p.header__middle-box__search-box__text
        キーワードから探す
    .header__middle-box__icon
  .header__middle-box__lower
    .header__middle-box__lower__left-box
      .header__middle-box__lower__left-box__category
        カテゴリー
      .header__middle-box__lower__left-box__brand
        ブランド
    .header__middle-box__lower__right-box
      .header__middle-box__lower__right-box__login
        ログイン
      .header__middle-box__lower__right-box__sign-up
        新規会員登録