= render 'shared/main_header'
.u-s-content
  = render 'shared/navigation_bar'
  .u-s-content__main
    %section.u-s-content__main__user
      .u-s-content__main__user__box
        %figure
          = image_tag "icon/member_photo_noimage_thumb.png", size: "60x60"
        %h2
          ユーザーネーム
        .user-lifomation
          %h5.user-lifomation__evaluation
            評価数
          %h5.user-lifomation__item
            出品数
    %section.u-s-content__main__notice
      %ul
        %li#notice-list.activ-list
          お知らせ
        %li#todo-list
          やることリスト
      .u-s-content__main__notice__contens
        .notice-list__footer
          一覧を見る
    %section.u-s-content__main__transaction
      %h2.u-s-content__main__transaction__title
        購入した商品
      %ul
        %li#trading.activ-list
          取引中
        %li#traded
          過去の取引
      .u-s-content__main__transaction__lists
        %ul.trading
          %li.warning-sentence
            取引中の商品はありません
        %ul.traded.hidden-list
          %li.warning-sentence
            過去に取引した商品はありません
= render 'shared/main_footer'