.exhibition__footer 
    %nav.exhibition__footer 
      %ul.exhibition__footer__clearfix
        %li プライバシーポリシー
        %li フリマ利用規約
        %li 特定商取引に関する表記
    .exhibition__footer__logo
      = image_tag "logo/logo-white.png", size: "80x65"