.footer
  .footer__contents
    .footer__contents__lists
      .footer__contents__lists__list1
        .footer__contents__lists__list1__about
          FURIMAについて
        .footer__contents__lists__list1__text1
          会社概要（運営会社)
        .footer__contents__lists__list1__text2
          プライバシーポリシー
        .footer__contents__lists__list1__text3
          FURIMA利用規約
        .footer__contents__lists__list1__text4
          ポイントに関する特約

      .footer__contents__lists__list2
        .footer__contents__lists__list2__about
          FURIMAを見る
        .footer__contents__lists__list2__text1
          カテゴリー一覧
        .footer__contents__lists__list2__text2
          ブランド一覧

      .footer__contents__lists__list3
        .footer__contents__lists__list3__about
          ヘルプ＆ガイド
        .footer__contents__lists__list3__text1
          FURIMAガイド
        .footer__contents__lists__list3__text2
          FURIMAロゴ利用ガイドライン
        .footer__contents__lists__list3__text3
          お知らせ

  .footer__logo
  .footer__text
    © FURIMA
