= render 'shared/main_header'
- breadcrumb :credit
= breadcrumbs separator: " &rsaquo; "
.u-s-content
  = render 'shared/navigation_bar'
  .payment
    .payment__content
      .payment__content__theme
        支払い方法
    .payment__moov-new
      =link_to new_credit_path do
        .payment__moov-new__box
          %i.far.fa-credit-card
          クレジットカードを追加する
    .payment__attention-sentence
      支払い方法について
      %i.fas.fa-chevron-right.icon
= render 'shared/main_footer'