.header{
  margin-left: 90px;
  height: 110px;
  background-color: white;
  padding:0px 60px;
  &__middle-box{
    padding-top: 15px;
    display: flex;
    &__img{
      height: 40px;
      width: 140px;
      margin-right: 30px;
      margin-bottom: 13px;
      background-image: image-url("logo/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    &__search-box{
      height: 34px;
      width: 950px;
      border: 1px solid;
      border-color: rgb(226, 214, 214);
      color: grey;
      font-style: inherit;
      margin-top: 10px;
      &__text{
        margin-top: 3px;
      }
    }
    &__icon{
      height: 36px;
      width: 36px;
      margin-top: 10px;
      background-image: image-url("icon/icon-search 1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #33cccc;
      cursor: pointer;
    }
    &__lower{
      justify-content: space-between;
      display: flex;
      font-size: 14px;
      &__left-box{
        display: flex;
        &__category{
        }
        &__brand{
          padding-left: 30px;
        }
      }
      &__right-box{
        display: flex;
        &__login{
          padding-right: 20px;
        }
        &__sign-up{
          margin-right: 75px;
        }
      }
    }
  }
}

.toppage{
  &__main-image{
    height: 560px;
    padding: 0px 60px;
    background-size: cover;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    &__content{
      height: 350px;
      padding-top: 200px;
      &__name{
        height: 70px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height: 1.2;
        color: #fff;
        font-size: 50px;
      }
      &__text{
        height: 60px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin-top: 20px;
      }
      &__batch{
        display: flex;
        height: 70px;
        margin-top: 20px;
        color:black;
        &__batch1{
          padding: 17px 10px 10px 10px;
        }
      }
    }
  }
}

.topintroduction{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  height: 560px;
  padding: 60px 20px;
  &__content{
    &__theme{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &__line{
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
    &__lists{
      display: flex;
      height: 450px;
      justify-content: space-around;
      margin: 0 200px;
      &__list1{
        height: 430px;
        width: 300px;
        &__img{
          height: 300px;
          width: 300px;
          background-image: image-url("pict/pict-reason-01.jpg");
          background-size: cover;
          &__num{
            font-size: 30px;
            background-color: #3CCACE;
            color: #fff;
            display: inline-block;
            border-radius: 4%;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
          }
        }
        &__text{
          text-align: center;
          &__content{
            display: flex;
            &__text1{
              padding-left: 60px;
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              color: #3CCACE;
            }
            &__right{
              padding-right: 35px;
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
            }
          }
          &__text2{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
      &__list2{
        height: 430px;
        width: 300px;
        &__img{
          height: 300px;
          width: 300px;
          background-image: image-url("pict/pict-reason-02.jpg");
          background-size: cover;
          &__num{
            font-size: 30px;
            background-color: #3CCACE;
            color: #fff;
            display: inline-block;
            border-radius: 4%;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
          }
        }
        &__text{
          text-align: center;
          &__content{
            display: flex;
            &__text1{
              padding-left: 30px;
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              color: #3CCACE;
            }
            &__right{
              padding-right: 5px;
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
            }
          }
          &__text2{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
      &__list3{
        height: 430px;
        width: 300px;
        &__img{
          height: 300px;
          width: 300px;
          background-image: image-url("pict/pict-reason-03.jpg");
          background-size: cover;
          &__num{
            font-size: 30px;
            background-color: #3CCACE;
            color: #fff;
            display: inline-block;
            border-radius: 4%;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
          }
        }
        &__text{
          text-align: center;
          &__content{
            display: flex;
            &__text1{
              padding-left: 50px;
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              color: #3CCACE;
            }
            &__right{
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
            }
          }
          &__text2{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
    }
  }
}

.top-second-image{
  background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
  background-size: cover;
  height: 400px;
  background-position: bottom right;
  &__content{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding: 100px 0 0 200px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    &__title{
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 19px;
      margin: 20px 0 20px 0;
    }
    &__batch{
      display: flex;
      &__batch1{
        padding: 17px 10px 10px 10px;
      }
    }
  }
}

.top-property{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  height: 700px;
  padding: 60px, 100px;
  &__feauture{
    margin-top: 60px;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    &__line{
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &__lists{
    justify-content: space-between;
    display: flex;
    height: 500px;
    margin: 0 150px;
    &__list1{
      text-align: center;
      padding: 0 50px;
      width: 315px;
      &__box{
        text-align: center;
        &__text1{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__text2{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
    &__list2{
      text-align: center;
      padding: 0 50px;
      width: 315px;
      &__box{
        text-align: center;
        &__text1{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__text2{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
    &__list3{
      text-align: center;
      padding: 0 50px;
      width: 315px;
      &__box{
        text-align: center;
        &__text1{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__text2{
          margin: 0 0 40px;
          font-size: 18px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
}

.top-category{
  height: 490px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    &__sub-title{
      color: #3CCACE;
    }
  }
  &__lists{
    justify-content: center;
    display: flex;
    margin: 26px 180px;
    &__list1{
      height: 290px;
      width: 240px;
      background-color: whitesmoke;
      &__img{
        text-align: center;
      }
      &__detail{
        padding: 20px;
        &__text2{
          display: flex;
          justify-content: space-between;
        }
        &__text3{
          font-size: 11px;
        }
      }
    }
    &__list2{
      height: 290px;
      width: 240px;
      background-color: whitesmoke;
      &__img{
        text-align: center;
      }
      &__detail{
        padding: 20px;
        &__text2{
          display: flex;
          justify-content: space-between;
        }
        &__text3{
          font-size: 11px;
        }
      }
    }
    &__list3{
      height: 290px;
      width: 240px;
      background-color: whitesmoke;
      &__img{
        text-align: center;
      }
      &__detail{
        padding: 20px;
        &__text2{
          display: flex;
          justify-content: space-between;
        }
        &__text3{
          font-size: 11px;
        }
      }
    }
  }
}

.top-brand{
  height: 490px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    &__sub-title{
      color: #3CCACE;
    }
  }
  &__lists{
    justify-content: center;
    display: flex;
    margin: 26px 180px;
    &__list1{
      height: 290px;
      width: 240px;
      background-color: whitesmoke;
      &__img{
        text-align: center;
      }
      &__detail{
        padding: 20px;
        &__text2{
          display: flex;
          justify-content: space-between;
        }
        &__text3{
          font-size: 11px;
        }
      }
    }
    &__list2{
      height: 290px;
      width: 240px;
      background-color: whitesmoke;
      &__img{
        text-align: center;
      }
      &__detail{
        padding: 20px;
        &__text2{
          display: flex;
          justify-content: space-between;
        }
        &__text3{
          font-size: 11px;
        }
      }
    }
    &__list3{
      height: 290px;
      width: 240px;
      background-color: whitesmoke;
      &__img{
        text-align: center;
      }
      &__detail{
        padding: 20px;
        &__text2{
          display: flex;
          justify-content: space-between;
        }
        &__text3{
          font-size: 11px;
        }
      }
    }
  }
}

.top-banner{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding: 100px 100px;
  height: 410px;
  color: #fff;
  text-align: center;
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__sub-title{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__batch{
      justify-content: center;
      display: flex;
      &__batch1{
        padding: 17px 10px 10px 10px;
      }
    }
  }
}

.footer{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  height: 400px;
  &__contents{
    &__lists{
      margin: 30px 300px;
      justify-content: space-between;
      display: flex;
      &__list1{
        &__about{
          font-weight: bold;
          font-size: 16px;
        }
        &__text1{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text2{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text3{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text4{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
      }
      &__list2{
        margin-left: 20px;
        &__about{
          font-weight: bold;
          font-size: 16px;
        }
        &__text1{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text2{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text3{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text4{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
      }
      &__list3{
        &__about{
          font-weight: bold;
          font-size: 16px;
        }
        &__text1{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text2{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text3{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        &__text4{
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  &__logo{
    height: 60px;
    background-image: image-url("logo/logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__text{
    font-size: 14px;
  }
}

.exhibition-btn{
  position: fixed;
  width: 130px;
  height: 130px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
}
