* {
  box-sizing: border-box;
  
}
.exhibition{
  background: #f5f5f5;
.exhibition-heder{
 height: 128px;
 
 &__image{
  padding: 40px 0 0;
  text-align: center;
 }
}
  .exhibition-main{
    
    
    &__inner{
      width: 700px;
      margin:0 auto;
      background: #fff;
      .in-containner{
        
        
        &__header{
          padding: 32px 16px;
          font-size: 22px;
          text-align:center;
          border-bottom :4px solid grey;

        }
        .sell-form{
          
          
          &__uploder{
            
            padding: 40px;
            
            
            &__head{
              display: flex;
            &__text{
              font-size: 16px;
            }
            &__require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              background-color: red;

            }
          }

            
            .in-{
              margin: 8px 0 0;
            }
            &__box {
              margin: 16px auto 0;
              position: relative;
            &__field{
              min-height: 162px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              font-size: 0;
              
            }
              &__text{
                position: absolute;
                left: 16px;
                right: 16px;
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                top: 50%;
              }
            }
          }
          &__content{
            padding: 40px;
            &__1{
              height: 70px;
              margin-bottom: 40px;
              &__head{
                display:flex;
                &__text{
                  font-size: 16px;
                }
                &__require{
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background-color: red;
                }
              }
              &__form{
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
            }
            &__2{
              &__head{
                display:flex;
                &__text{
                  font-size: 16px;
                }
                &__require{
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background-color: red;
                }
              }
            &__form{
              width: 100%;
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;   
              }
            }
          }
        &__content__clearfix {
          display:flex;
          padding: 40px;
          justify-content: space-between;
          border-top: 1px solid #eee;
          &__sub{
          }
          &__form{
          width: 400px;
          right: 50px;
          
          &__group{
            &__head{
              display:flex;
              &__text{
                font-size: 16px;
              }
              &__require{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background-color: red;

              }
            }
            &__field{
              display: flex;
              margin: 8px 0 0;
              
              .in-select__button{
              color: green;
              position: absolute;
              }
              .in-field{
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                padding: 0 0 12 10px;
                width: 100vw;
              } 
            }
          } 
        }
      }
      &__price{
        display:flex;
        padding: 40px;
        border-bottom: 1px solid#eee;
        &__left{
          border-top: 1px solid #eee;
          text-decoration: lavender;
          
        }
        &__right{
          margin-top: 30px;
          margin-left: 20px;
          


          
          
          &__box{
          width: 400px;
          padding: 30px;
            &__head{
            display:flex;
            width: 100%;
            justify-content: space-between;
            padding-bottom: 30px;
            border-bottom: 2px solid#eee;
            
            &__price{
              font-size: 16px;

            }
            &__require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              background-color: red;
              height: 50%;
            }
              &__form{
                width: 50%;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
              }
            } 
          }
          &__text{
            padding: 30px;
            border-bottom: 1px solid#eee;
          }
          &__rieki{
            padding: 30px;
          }
        }
      }
      &__btn__box{
        padding: 40px;
        &__exhibition{
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
          margin: 40px 0 0;
          
        }
        &__return{
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          width: 45%;
          margin: 24px auto 0;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
            }
          }
        }  
      }
    }
  }
    &__footer{
    
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    text-align: center;
      
      &__clearfix{
      display: flex;
     justify-content: center;
      margin-left: 5px;
      li{
        padding-right: 15px;
        font-size: 8px;
      }

      
    }
    &__logo{ 
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      background-color: #444444;
    }
    

    

  }
  
}

// logo_header ,  logo_fotterあとで共有化

